<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'Todo', root_path, class:"navbar-brand" %>
    <button type="button" class="btn btn-outline-light">Sign in</button>
  </div>
</nav>